<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320242355547-skk8fs53iuj44tl4r9ae8sgv5en5vd64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320242355547-skk8fs53iuj44tl4r9ae8sgv5en5vd64</string>
	<key>API_KEY</key>
	<string>AIzaSyCvJvFiHhd075yH4mmYDQF0hDuaAJU1GLI</string>
	<key>GCM_SENDER_ID</key>
	<string>320242355547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyride.easyride</string>
	<key>PROJECT_ID</key>
	<string>eazyride-e70a8</string>
	<key>STORAGE_BUCKET</key>
	<string>eazyride-e70a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320242355547:ios:4637c31b03ad5981369e7e</string>
</dict>
</plist>